
.settings {
  height: 100%;
  padding: 16px;
  background: #fff;
  &-row {
    display: flex;
    align-items: center;
  }
}

.setting-opt-access {
  .setting-item {
    margin-right: 16px;
  }
}

.setting {
  &-opt {
    flex: 3;

    .con-vs-radio {
      justify-content: flex-start;
    }
  }
  &-label {
    flex: 1;
  }
}
