.option-label {
  //padding-left: 5px;
  margin: 20px 0;
  padding: 5px 10px 5px 16px;
  position: relative;
  background: rgba(#00C58E, .05);

  i {
    filter: $darkFilter;
  }




  &::before {
    //position: absolute;
    //content: '';
    //top: 0;
    //left: 0;
    //bottom: 0;
    //right: 0;
    //width: 100%;
    //height: 100%;
    //background: rgba(0, 197, 142, 0.05);;
  }


  h5 {
    color: $primary;
    font-weight: 900;
  }
  .vs-button {
    padding-top: 7px;
  }
}

.variable-dnd-numbers-style {
  display: flex;
  span {
    font-weight: 600;
    margin-left: 5px;
  }
  .btn-plus, .btn-less {
    display: none;
  }
  .vs-input-number--input {
    flex: 1;
  }
  .vs-input-number {
    flex: 1;
    border-bottom: 1px solid $primary;
  }
}

.variable-dnd-numbers  {
  //display: none;
}

.variable-single-answer .con-vs-radio, .con-vs-checkbox {
  justify-content: flex-start;
}
