.widget-list {

}

.widget-header-common {
  position: relative;
  padding-right: 5px;
  i {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    filter: $darkFilter;
  }
}

.pages-wrapper {
  display: flex;
  align-items: flex-end;
  //overflow: auto;
  //height: 90px;
  //white-space: nowrap;
  margin-bottom: 20px;
  > div {
    flex: none;
  }
}
.pages {
  padding: $material-padding-gutter;

  .new-page {
    min-width: 110px;
    flex: none;
  }

  &-more {
    .vs-dropdown--item .vs-dropdown--item-link {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
    }
    button {

    }
    .vs-dropdown--menu {
      display: flex;
      align-items: center;
    }
    i {
      filter: $darkFilter;
    }

  }

}

.page {
  position: relative;
  display: flex;
  //flex-direction: column;
  align-items: center;
  border: 1px solid #DFDFDF;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 15px;

  color: #2F495E;

  button {
    padding: 0;

    i {
      color: #2F495E;
    }

  }


  &.active {
    background: rgba($primary, .05);
    border: 1px solid $primary;
    color: $primary;

    button {
      i {
        color: $primary;
      }
    }

    .page-content {
      //background: $primary;
      //border-bottom-color: $primary;
    }
  }

  &-content {
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
  }
}


.widget {
  padding: $material-padding-gutter;
  &-appearence {
    //padding: 0 1px;
  }
  &-list {
    position: relative;
    margin-top: 16px;
    &.active {
      box-shadow: 0px 4px 8px #0000001F;
      border-radius: 4px;

      .widget-toolbar {
        background: linear-gradient(118deg, rgba(var(--vs-primary), 0.9), rgba(var(--vs-primary), 0.7));
        border-bottom: none;

        * > i {
          color: #000;
          filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(320deg) brightness(103%) contrast(103%);
        }
      }

       //box-shadow: 1px 0px 2px rgba(188, 209, 247, 0.8);
      //border: 1px solid rgba(var(--vs-primary), .2);
      //border-radius: 4px;
      //&:after {
      //  position: absolute;
      //  right: 15px;
      //  top: 5px;
      //  font-family: "Material Icons";
      //  content: "bookmark";
      //  color: #fff;
      //  font-size: 18px;
      //}
    }
  }


  &-list {
    // margin-top: 20px;

    &-item {
      position: relative;
      display: flex;
      align-items: center;
      padding: 13px;
      margin: 4px 0;
      border-radius: 4px;
      transition: all .35s ease;
      border-bottom: 1px solid $theme-light-border-color;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }

      span {
        display: flex;
        align-items: center;

        &.menu-caption {
          margin-left: 10px;
        }
      }
      svg {
        flex: none;
        width: 16px;
        height: 16px;
      }

      &.active {
       color: $primary;
        background: rgba($primary, .05);

        &::before {
          position: absolute;
          content: '';
          left: 0;
          opacity: 1;
          width: 2px;
          height: 100%;
          background-color: $primary;
          transition: opacity .25s ease;
        }

        svg {
          fill: $primary;
        }
      }

      &:hover {
        color: $primary;
        background: rgba(#00C58E, .05);

        svg {
          fill: $primary;
          transition: all .3s ease;
        }

        &::before {
          opacity: 1;
          transition: opacity .25s ease;
        }

      }



      &::before {
        position: absolute;
        content: '';
        left: 0;
        opacity: 0;
        width: 2px;
        height: 100%;
        background-color: $primary;
        transition: opacity .25s ease;
      }


    }
  }

  &-toolbar {
    display: flex;
    align-items: center;
    //margin-bottom: 10px;
    border-radius: 2px;
    padding: 14px;
    height: 72px;
    border-bottom: 1px solid #e8e8e8;
    button {
      margin-right: 4px;
      &:last-child {
        margin-right: 0;
      }
    }
    i {
      //font-size: 20px;
      color: #000;
      filter: $darkFilter;
    }
  }
}

.v-select input[placeholder] {
  font-family: $font-family-sans-serif;
}


.welcome-page {
  &-container {
    display: flex;
    flex-direction: column;
    h2 {
      text-align: center;
    }
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    padding: 20px;
    border: 1px solid $theme-light-border-color;
    border-radius: 4px;
  }
}
