.widget {
  &-appearence {
    padding: 0 15px;
  }
  &-list {
    &.active {
      // box-shadow: 1px 0px 2px rgba(188, 209, 247, 0.8);
      border: 1px solid rgba(var(--vs-primary), .2);
      border-radius: 4px;
    }
  }


  &-list {
    // margin-top: 20px;

    &-item {
      display: flex;
      align-items: center;
      color: #666;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 8px;
      padding-top: 8px;
      margin-bottom: 5px;
      border-radius: 4px;
      transition: all .35s ease;
      border-bottom: 1px solid $theme-light-border-color;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background: linear-gradient(118deg, rgba(var(--vs-primary), 1), rgba(var(--vs-primary), .7));
        color: #fff;
        transition: all .35s ease;

        svg {
          fill: #fff;
          transition: all .3s ease;
        }

      }

      span {
        display: flex;
        align-items: center;

        &.menu-caption {
          margin-left: 10px;
        }
      }

      svg {
        flex: none;
        width: 16px;
        height: 16px;
      }
    }
  }

  &-toolbar {
    border-bottom: 3px solid $theme-light-border-color;
    margin-bottom: 10px;

    i {
      font-size: 16px;
    }
  }
}
